{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order",
    "@double-great/stylelint-a11y/recommended",
    "stylelint-plugin-logical-css/configs/recommended"
  ],
  "plugins": [
    "@stylistic/stylelint-plugin",
    "@double-great/stylelint-a11y",
    "stylelint-plugin-logical-css",
    "stylelint-plugin-defensive-css",
    "stylelint-use-nesting",
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-high-performance-animation",
    "stylelint-value-no-unknown-custom-properties",
    "stylelint-no-unsupported-browser-features",
    "stylelint-gamut"
  ],
  "rules": {
    "@stylistic/block-closing-brace-newline-before": "always",
    "@stylistic/block-opening-brace-space-before": "always",
    "@stylistic/declaration-block-semicolon-newline-after": "always-multi-line",
    "@stylistic/selector-list-comma-newline-after": "always-multi-line",
    "@stylistic/value-list-comma-newline-after": "always-multi-line",
    "comment-empty-line-before": null,
    "no-descending-specificity": null,
    "selector-class-pattern": [
      "^[a-z]([a-z0-9]*)(-[a-z0-9]+)*$",
      {
        "message": "Expected class selector to be kebab-case"
      }
    ],
    "csstools/use-nesting": "always",
    "plugin/declaration-block-no-ignored-properties": true,
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "severity": "warning"
      }
    ],
    "plugin/no-low-performance-animation-properties": [
      true,
      {
        "severity": "warning"
      }
    ],
    "csstools/value-no-unknown-custom-properties": [
      true,
      {
        "importFrom": ["src/css/site.css"]
      }
    ],
    "gamut/color-no-out-gamut-range": true,
    "plugin/use-defensive-css": [
      true,
      {
        "accidental-hover": true,
        "background-repeat": true,
        "custom-property-fallbacks": false,
        "flex-wrapping": true,
        "scroll-chaining": true,
        "scrollbar-gutter": true,
        "vendor-prefix-grouping": true,
        "severity": "warning"
      }
    ]
  }
}
