<!DOCTYPE html>
<html lang="en">

<head>
  {{> beer.head}}
</head>

<body class="beer-default article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
  {{> header}}
  {{> body}}
  {{> footer}}
</body>

</html>
