<!DOCTYPE html>
<html lang="en">

<head>
  {{> head}}
</head>

<body class="default article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
  {{> body}}
  {{> footer}}
</body>

</html>
