<!DOCTYPE html>
<html lang="en">

<head>
  {{> head}}
</head>

<body class="default article{{#with (or page.attributes.layout page.layout)}} {{{this}}}{{/with}}">
  {{> body}}
  {{> footer}}
</body>

</html>
