<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google" content="notranslate">
  <title>TL;DR</title>
  <script src="https://cdn.jsdelivr.net/gh/gnat/surreal@main/surreal.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.12.11/dist/cdn/beer.min.css" rel="stylesheet">
  <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.12.11/dist/cdn/beer.min.js"></script>
  <script type="module"
    src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@400;700&family=Special+Elite&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{{uiRootPath}}}/css/site.css">
</head>

<body>
  <nav class="left">
    <a>
      <i>home</i>
    </a>
    <a>
      <i>code</i>
    </a>
    <a>
      <i>book</i>
    </a>
    <div class="max"></div>
    <button class="border circle">
      <i id="light_mode">brightness_auto</i>
      <script>
        me().on("click", ev => {
          console.log(`in: ${me("body").classList}`);
          if (me("#light_mode").textContent === "dark_mode") {
            me("body").classRemove("dark");
            me("body").classAdd("light");
            me("#light_mode").textContent = "light_mode";
          } else if (me("#light_mode").textContent === "light_mode") {
            me("body").classRemove("light");
            me("#light_mode").textContent = "brightness_auto";
          } else {
            me("body").classAdd('dark');
            me("#light_mode").textContent = "dark_mode";
          }
        });
      </script>
    </button>
  </nav>

  <main class="responsive">
    <div class="grid">
      <div class="s12 m6 l6">
        <div class="page bottom active">
          <article class="no-elevate round large large-padding middle-align">
            <div class="large-padding">
              <h1 class="blog-title large primary-text">TL;DR</h1>
              <h6 class="blog-title large">ramblings and ruminations; mostly inane, rarely profound</h6>
            </div>
          </article>
        </div>
      </div>
      <div class="s12 m6 l6">
        <div class="page top active">
          <article class="no-elevate round large no-padding">
            <img class="responsive theme-img light" src="{{{uiRootPath}}}/img/ponte-light.jpg" alt="Ponte City typical floor plan">
            <img class="responsive theme-img dark" src="{{{uiRootPath}}}/img/ponte-dark.jpg"
              alt="Ponte City typical floor plan (blueprint style)">
            <a href="https://www.theheritageportal.co.za/article/ponte-saga" target="_blank"
              class="absolute right bottom margin circle small tertiary-container">
              <i class="tiny">attribution</i>
            </a>
          </article>
        </div>
      </div>
    </div>
    <div class="large-space"></div>
    <hr class="large">
    <div class="large-space"></div>
    <section class="responsive">
      <h2>Featured</h2>
      <div class="large-space"></div>
      <div class="grid">
        <div class="s12 m6 l6">
          <article class="round no-elevate no-padding wave" style="position: relative">
            <a href="posts/figma-m3-design-kit.html" class="absolute left top right bottom" style="z-index: 1"></a>
            <img class="responsive large"
              src="https://lh3.googleusercontent.com/3rF796oZVGbGTqIOBAk4TMP5Ymq6EMXWBowNZT7hT4WWqMjjvB5fHvyEFOVqUAyG44xer2-TGx5-1VohPmKxW3qLmXy6cH7vveTe3mPsBQyKRVqRwXU=w960">
            <div class="large-padding">
              <h6>Updated: Figma M3 Design Kit</h6>
              <p>Quickly create design mockups and prototypes with the latest Material 3 Expressive components and
                styles</p>
            </div>
          </article>
        </div>
        <div class="s12 m6 l6">
          <article class="round no-elevate no-padding wave" style="position: relative">
            <a href="posts/motion-physics.html" class="absolute left top right bottom" style="z-index: 1"></a>
            <img class="responsive large"
              src="https://lh3.googleusercontent.com/Ml2dmf1pT0jpg1P-1E35doGcAftKWfo7rKMC9cQbXg0qz_C8jIAM37DFRt9osJHMe2eDlGJoswFhrTc13sZUx1mHEcirrI7zoQDk0Ph4IVVcQnfbaBbC=w960">
            <div class="large-padding">
              <h6>New: Motion physics</h6>
              <p>Easier-to-implement motion system for more customizable transitions—powered by tokens</p>
            </div>
          </article>
        </div>
      </div>
    </section>
  </main>

</body>

</html>